<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="../static/css.1.new.css">
    <script defer src="../static/js.1.js"></script>
    <script defer src="../static/ServerRequest.js"></script>
    <script defer src="../static/DataCourts.js"></script>
    <script defer src="../static/js.geolocation.js"></script>
    
    <title>Find A Court</title>
</head>
<body>
    <div class="GeoContainer">
        <div class="title"><h1>Find a Courts</h1></div>
    <header class="HeaderNav">
        <img id="basketBall-logo" src="../images/how-to-shoot-a-basketball.jpg" alt="logo">
        <nav>
            <ul>
                <li>
                    <a id="nav-element right-nav" href="./home.html">Home</a>
                </li>
                <li>
                    <a id="nav-element" href="./AboutUs.html">AboutUs</a>
                </li>
                <li>
                    <a id="nav-element" href="MyProfile.html">My Profile</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="MapContainer">
        <input type="text" name="foo" id="datePicker">
        


        <div id="map"></div>
        <input type="text" name="court" id="court">
        <div id="DayCombo">
        <label for="days" id="ChoosDayLabel">Choose a Session:</label>
        <select name="days" id="days">
          <option value="morning">morning</option>
          <option value="afternoon">afternoon</option>
          <option value="evening">evening</option>
        </select>
        
          </div>
        <button onclick="getLocation()" id="NearClick">Neaby courts</button>
        <button onclick="location.href='myProfile.html'" class="courtsSubmit">Submit</button>
        <span id="geo"></span>
      

        
       
    </div>

    
    <footer class="footer">
        <div id="phone">
            <label>050-7534331</label>
        </div>
        <span>EasyBasket@gmail.com</span>
        
    </footer>
    
    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
 

    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
   <script src="../static/findCourts.js"> </script>
</body>
</html>