<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css.1.new.css">
    <script defer src="../static/js.1.js"></script>
</head>

<body>
    
    <div class="Container">
        <div class="title"><h1>My Profile</h1></div>
    <header class="HeaderNav">
        <img id="basketBall-logo" src="../images/how-to-shoot-a-basketball.jpg" alt="logo">
        <nav>
            <ul>
                <li>
                    <a id="nav-element right-nav" href="./home.html">Home</a>
                </li>
                <li>
                    <a id="nav-element" href="./AboutUs.html">About Us</a>
                </li>
                <li>
                    <a id="nav-element" href="MyProfile.html">My Profile</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="profileTable">
        <table id="table">
            <thead>
                <tr>
                <th>Court</th>
                <th>Time</th>
                <th>Date</th>
              </tr>
            </thead>
         <tbody id="content">

         </tbody>
            <br>

          </table>
    </div>

    <footer class="footer">
        <div id="phone">
            <label>050-7534331</label>
        </div>
        <span>EasyBasket@gmail.com</span>
        
    </footer>
    </div>
<script src="../static/myProfile.js"></script>
</body>
</html>
