<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="../static/css.1.new.css">
    <script defer src="../static/js.1.js"></script>
    <script defer src="../static/ServerRequest.js"></script>
    <script defer src="../static/DataCourts.js"></script>
    <script defer src="../static/js.geolocation.js"></script>
    
    <title>Find A Court</title>
</head>
<body>
    <div class="GeoContainer">
        <div class="title"><h1>Find a Courts</h1></div>
    <header class="HeaderNav">
        <img id="basketBall-logo" src="../images/how-to-shoot-a-basketball.jpg" alt="logo">
        <nav>
            <ul>
                <li>
                    <a id="nav-element right-nav" href="./home.html">Home</a>
                </li>
                <li>
                    <a id="nav-element" href="./AboutUs.html">AboutUs</a>
                </li>
                <li>
                    <a id="nav-element" href="MyProfile.html">My Profile</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="MapContainer">
        <input type="text" name="foo">
        


        <div id="map"></div>
       <div id="DayCombo">
        <label for="Days" id="ChoosDayLabel">Choose a Session:</label>
        <select name="Days" id="Days">
          <option value="sunday">morning</option>
          <option value="monday">afternoon</option>
          <option value="tuesday">evening</option>
        </select>
        
          </div>
        <button onclick="getLocation()" id="NearClick">Neaby courts</button>
        <span id="geo"></span>
       

        
       
    </div>

    <!-- <section>
        <h2 class="desktop-header">Embedded Calendar Desktop View</h2>
          <h2 class="mobile-header">Embedded Calendar Mobile View</h2>
        <div class="responsive-iframe-container small-container">
          <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;src=61863jvf1a2cb5g6644ruc0p4s%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York"
            style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="responsive-iframe-container large-container">
          <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=61863jvf1a2cb5g6644ruc0p4s%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0" min-width="800" min-height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        
        </section> -->
    
    <footer class="footer">
        <div id="phone">
            <label>050-7534331</label>
        </div>
        <span>EasyBasket@gmail.com</span>
        
    </footer>
    
    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
    <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap">
</script> -->

    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
</body>
</html>