@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root{
    --pink: rgb(240, 128, 128);
    --headcolor:  #f1720a;
    --black: rgb(29, 29, 29);
    --hover: rgba(255, 253, 253, 0.6);
      --blue: rgb(13, 50, 211);
  }
body {
    background-image: url("../images/03.29.22-Article-Web.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
   
}

#table{

    align-items: center;
    padding-left: 50%;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}



/*new*/

#basketBall-logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
}

nav {
    display: block;
    text-align: right;
    padding: 12px 0px 12px 0px;
    display: inline;
    
}

nav ul {
    display: inline;
    padding-right: 0x;
}

nav li {
    display: inline;
    background-color: var(--nav-bar);
}

nav a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    /* margin-left: 7px; */
    padding: 0px 2px 0px 2px;
}

.right-nav {
    margin-right: 15px;
}

.btn:hover{
color:#fff;

}





.SignIn,.SignUp {
    display: block;
    margin: 0 auto; /*center*/
    margin-bottom: 50px; /* distance from other  button */
    margin-top: 50px; 
    font-size: 28px;
    padding-left: 65px;
    text-align: center;
    padding-right: 65px; /* button size */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px; /* corners */
    cursor: pointer;
    -webkint-transition-duration:0.3s;
    transition-duration:0.3s;
    -webkint-transition-property:box-shadow,transform;
    transition-property: box-shadow,transform;

}

#send_button{
    border-radius: 5px; /* corners */
}


.SignIn:hover,.SignIn:focus,.SignIn:active,.SignUp:hover,.SignUp:focus,.SignUp:active 
{
    box-shadow:0 0 20px  #161d1e;
    -webkint-transform:scale(1.1);
    transform:scale(1.1);
}



.Container {
    display: grid;
    grid-template-areas: 'headerNav headerNav headerNav' 
                            'Title Title Title'
                            'UpGrid UpGrid UpGrid'
                            'Footer Footer Footer';
                      
    justify-items: center;
    position: relative;

}
.UpGrid{
grid-area: UpGrid;
margin: 100px;
padding-left: 25%;



}
.HeaderNav{
    grid-area: headerNav;
    padding-left:1000px;
    

}
.footer{
    grid-area: Footer;

}

.footer {
   
    font-size: smaller;
    align-items: center;
  
}


   
#connect_border{

    display: block;
    margin: 0 auto; /*c     enter*/
    margin-bottom: 50px; /* distance from other button button */
    margin-top: 50px; /* distance from top */
    font-size: 28px;
    padding-left: 65px;
    padding-right: 65px; /* button size */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px; /* round corners */
 


}
.title{

    grid-area: Title; 
    margin-top: 70px; 
}

.Active {
    background-color:var(--pink);
}

#send_button{
    float: align;
    height: 50px;
    width: 100px;
    background-color: var(--blue)

}
#AboutUs{

color:var(--blue);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-overflow:clip;
width: 50%;
margin-top: 10px;
margin-left: 100px;
margin-right: 0px;
color: white;
background-color:rgba(0, 0, 0, 0.7);
 border-radius: 15px;
padding-left: 50px;
margin-right: 100px; 
font-size: larger;
padding:100px;
margin-top: 4.5%;
    }




#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */

  }
  

  #NearClick{
    float: align;
    height: 50px;
    width: 100px;
    background-color: var(--blue);
    margin-left: 100%;
    margin-top: 5%;
}
  #ChoosDayLabel{

      margin-top:20%;
}

  .GeoContainer {
    display: grid;
    grid-template-areas: 'headerNav headerNav headerNav' 
                            'Title Title Title'
                            'MapContainer MapContainer MapContainer'
                            'Footer Footer Footer';
                      
    justify-items: center;
    position: relative;

}


.MapContainer{
grid-area: MapContainer; 
height:500px;
width:500px;
    
}

@media screen and (max-width: 600px) {
    .Container {
        display: grid;
        grid-template-areas: 
        'headerNav' 
        'Title'
        'UpGrid'
        'Footer';
    }  
    .HeaderNav{

        padding-left:0px;
        align-items: center;
    }
    
    .UpGrid{
        justify-items: center;
        margin-top: 0%;
        padding-left: 0%;
    }
 }

 @media screen and (max-width: 600px) {
    #container {
        display: grid;
        grid-template-areas: 
        'headerNav' 
        'Title'
        'MapContainer'
        'Footer';
    }    

    #NearClick{

        margin-left: 30%;
    }
 }